.toggleContainer {
  @apply inline-flex items-center text-primary align-middle;

  &.horz {
    @apply flex-row space-x-2;

    &.reverse {
      @apply flex-row-reverse space-x-reverse;
    }
  }

  &.vert {
    @apply flex-col space-y-2;

    &.reverse {
      @apply flex-col-reverse space-y-reverse;
    }
  }

  .toggle {
    @apply relative inline-flex w-6 h-6;

    input {
      @apply hidden;
    }

    .toggleOff, .toggleOn {
      @apply absolute top-0 left-0 w-6 h-6 fill-current;
    }

    input + .toggleOff {
      @apply opacity-100;
      transition: opacity 0.2s ease-in-out;
    }

    input + .toggleOff + .toggleOn {
      @apply opacity-0;
      transition: opacity 0.2s ease-in-out;
    }

    input:checked + .toggleOff {
      @apply opacity-0;
    }

    input:checked + .toggleOff + .toggleOn {
      @apply opacity-100;
    }
  }

  .label {
    @apply inline-flex leading-none text-sm;
  }
}
